body{
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
}
.heading{
    margin: 0px;
    width: 100%;
    animation-name: shadow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    line-height: 3;
}
@keyframes shadow{
    50%{
        font-size: 30px;
    }
}
.note{
    color: rgb(0, 0, 0);
}
#copyright{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: brown;
    color: cyan;
    line-height: 3;
    text-align: center;
    font-size: 30px;
}
canvas{
    border-radius: 20px;
    animation-name:example;
    animation-duration:5s;
    animation-iteration-count:infinite;
}
@keyframes example{
    0%{
        box-shadow:1px 1px 38px cyan ;
    }
    25%{
        box-shadow:1px 1px 38px rgb(47, 29, 148) ;
    }
    50%{
        box-shadow:1px 1px 38px darkblue;
    }
    75%{
        box-shadow:1px 1px 38px rgb(54, 71, 148) ;
    }
    100%{
        box-shadow:1px 1px 38px rgb(131, 33, 85) ;
    }
}